﻿body
{
    font-family: Arial, Helvetica, sans-serif;
    background: url("../images/page_bg.jpg") repeat-x scroll 0 0 #F3F3F3;
    font: 16px Calibri,Arial,sans-serif;
}


div .MainForm
{
    background: url("../images/section_bg.png") repeat scroll 0 0;
    border: 1px solid #F4F4F4;
    box-shadow: 0 0 10px #C4C4C4;
    margin: 40px auto 0;
    overflow: hidden;
    padding: 15px 15px 25px 15px;
    width: 750px;
}


input.groovybutton
{
    font-size: 14px;
    font-family: Arial,sans-serif;
    color: #FFFFFF;
    background-color: #808EAB;
    border-style: none;
    -moz-box-shadow: 1px 1px 2px #000000;
    -webkit-box-shadow: 1px 1px 2px #000000;
    box-shadow: 1px 1px 2px #000000;
}
input.groovybuttondisabled
{
    font-size: 14px;
    font-family: Arial,sans-serif;
    color: InactiveCaptionText;
    background-color: #808EAB;
    border-style: none;
    -moz-box-shadow: 1px 1px 2px #000000;
    -webkit-box-shadow: 1px 1px 2px #000000;
    box-shadow: 1px 1px 2px #000000;
}

.HeaderTitle
{
    color: #587390; /* color: #303B3F; */
    font: 18px/26px Arial,Verdana,Helvetica,sans-serif;
    letter-spacing: 0px;
    /*line-height: 30px;*/
}

.RowTitle td
{
    background-color: #3b5a6f;
    border-bottom: 2px none #FFFFFF;
    color: black;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16pt;
    padding: 5px 5px 5px 5px;
    text-align: left;
}

.heading
{
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.2em;
    line-height: 14px;
}

.LeftTitle
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 9pt;
    font-weight: bold;
    text-align: right;
}

.RightColumn
{
    text-align: left;
}

.memberInfo td
{
    /*border-bottom: 2px none #FFFFFF;*/ /*color: black; */
    font-family: Arial;
    font-size: 9pt;
}
.memberInfo
{
    padding: 2px;
    border-spacing: 2px;
    font: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    width: 100%;
}

.TabHeaderCSS
{
    font-family: Verdana, Arial, Courier New; /* font-size: 15px;     text-align: center; */
}

.TabHeader .ajax__tab_header
{
    font: 18px/26px Arial,Verdana,Helvetica,sans-serif;
    letter-spacing: 0px;
    line-height: 60px;
}

.TabHeader .ajax__tab_outer
{
    height: 29px;
}

.TabHeader .ajax__tab_inner
{
    padding-left: 3px;
}

.TabHeader .ajax__tab_body
{
    font-family: verdana,tahoma,helvetica;
    font-size: 10pt;
    border: 1px solid #999999;
    border-top: 0;
    padding: 8px;
    background-color: #ffffff;
}


/*.NewsTab .ajax__tab_header
{
    color: #aa976b;
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
}*/

.NewsTab .ajax__tab_header
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.2em;
    line-height: 14px;
    display: block;
}

.NewsTab .ajax__tab_outer
{
    border: 1px solid #999999;
}
.NewsTab .ajax__tab_inner
{
    padding: 6px;
    margin-right: 1px;
    margin-left: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
}
/* #f8f6ea; */
.NewsTab .ajax__tab_active .ajax__tab_outer
{
    -moz-box-shadow: 1px 0px 2px #000000;
    -webkit-box-shadow: 1px 0px 2px #000000;
    box-shadow: 1px 0px 2px #000000;
}
.NewsTab .ajax__tab_active .ajax__tab_inner
{
    color: White;
    background-color: #3B5A6F;
}

.NewsTab .ajax__tab_active .ajax__tab_inner a:link, .NewsTab .ajax__tab_active .ajax__tab_inner a:visited
{
    color: White;
    cursor: pointer;
}

.NewsTab .ajax__tab_body
{
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-width: thin;
    -moz-box-shadow: 2px 2px 2px #000000;
    -webkit-box-shadow: 2px 2px 2px #000000;
    box-shadow: 2px 2px 2px #000000;
}

input.mapButton
{
    font-size: 14px;
    font-family: Arial,sans-serif;
    /*color: White; */
    background-color: #808EAB;
    border-style: none;
    -moz-box-shadow: 1px 1px 1px #000000;
    -webkit-box-shadow: 1px 1px 1px #000000;
    box-shadow: 1px 1px 1px #000000;
}

.modalBackground
{
    background-color: Gray;
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.modalPopup
{
    background-color: #ffffdd;
    border-width: 1px;
    -moz-border-radius: 5px;
    border-style: solid;
    border-color: Gray;
    min-width: 250px;
    max-width: 600px;
}

.topHandle
{
    background-color: #97bae6;
    color: White;
    font-weight:bold;
}

.topHandleRed
{
    background-color: Red; /* #97bae6;*/
    color: White;
    font-weight:bold;
}

.memberInfo .RightColumn select, .memberInfo .RightColumn input, .memberInfo .RightColumn textarea
{
    background-color: whitesmoke; /*#EDFAFF; #DCDCC2; ivory*/ 
    border-left: 1pt solid #C0C0C0;
    border-right: 1pt solid #C0C0C0;
    border-top: 1pt solid #C0C0C0;
    border-bottom: 1pt solid #C0C0C0;
    font: normal 13px Arial, Helvetica, sans-serif;
}