﻿body {
    font: normal 15px/19px Arial,Verdana,Helvetica,sans-serif;
    background: #EEF2F7;
}


div .MainForm {
    /*background: url("../images/section_bg.png") repeat scroll 0 0;
    border: 1px solid #F4F4F4;
    box-shadow: 0 0 10px #C4C4C4;
    margin: 10px auto 10px;
    overflow: hidden;
    padding: 15px 15px 25px 15px;
    padding: 2rem;*/
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
    position: relative;
    padding: 2rem;
    margin: 1rem auto 1rem;
    /*border: solid #f7f7f9;*/
    width: 750px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    background: white;
}


input.groovybutton
{
    font-size: 1.2em;
    font-family: Arial,Helvetica,sans-serif;
    color: #FFFFFF;
    background-color: #808EAB;
    border-style: none;
    -moz-box-shadow: 1px 1px 2px #000000;
    -webkit-box-shadow: 1px 1px 2px #000000;
    box-shadow: 1px 1px 2px #000000;
}
input.groovybuttondisabled
{
    font-size: 1.2em;
    font-family: Arial,Helvetica,sans-serif;
    color: InactiveCaptionText;
    background-color: #808EAB;
    border-style: none;
    -moz-box-shadow: 1px 1px 2px #000000;
    -webkit-box-shadow: 1px 1px 2px #000000;
    box-shadow: 1px 1px 2px #000000;
}

.HeaderTitle
{
    color: Black;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.RowTitle td
{
    
}

.RowTitle div {
    border-radius: 0.25rem;
    padding: 1rem;
    background-color: #3b5a6f;
    border-bottom: 2px none #FFFFFF;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    /*padding: 5px 5px 5px 5px;*/
    text-align: left;
}

.RowTitle2 td
{
    background-color: #3b5a6f;
    border-bottom: 2px none #FFFFFF;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 3px 3px 3px 3px;
    text-align: left;
}

.heading
{
    color: #FFFFFF;
    font-family: Arial, Verdana, Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: normal;
    font-style: normal;
    font-variant:normal;
}

.heading2
{
    color: #FFFFFF;
    font-family: Arial, Verdana, Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: normal;
    font-style: normal;
    font-variant:normal;
}

.LeftTitle
{
    font-family: Arial, Verdana, Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    vertical-align: top;
}

.LeftLeftTitle
{
    font-family: Arial, Verdana, Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}

.LeftSubTitle
{
    color: #3B5A6F;
    font-family: Arial, Verdana, Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}


.RightColumn
{
    text-align: left;
    vertical-align: top;
}

/*.memberInfo td
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
}*/

.ajax__calendar_day{
    padding: 0px;
}

.memberInfo tr, .memberInfo tr td {
    padding: 3px !important;
    border-spacing: 1px !important;
}

.ajax__calendar_container tr, .ajax__calendar_container tr td {
    padding: 0px !important;
    border-spacing: 0px !important;
}

.TabHeader .ajax__tab_outer {
    height: 25px;
}

.TabHeader .ajax__tab_inner
{
    padding-left: 3px;
}

.TabHeader .ajax__tab_body
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    border: 1px solid #999999;
    border-top: 0;
    padding: 5px;
    background-color: #ffffff;
}

/*.NewsTab .ajax__tab_header
{
    color: #aa976b;
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
}*/
.NewsTab .ajax__tab_header {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.2em;
    line-height: 14px;
    display: block;
    padding-bottom: 15px;
    margin-bottom: 23px;
}

.NewsTab .ajax__tab_outer
{
    border: 1px solid #999999;
}
.NewsTab .ajax__tab_inner
{
    padding: 6px;
    margin-right: 1px;
    margin-left: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
}
/* #f8f6ea; */
.NewsTab .ajax__tab_active .ajax__tab_outer
{
    -moz-box-shadow: 1px 0px 2px #000000;
    -webkit-box-shadow: 1px 0px 2px #000000;
    box-shadow: 1px 0px 2px #000000;
}
.NewsTab .ajax__tab_active .ajax__tab_inner
{
    color: White;
    background-color: #3B5A6F;
}

.NewsTab .ajax__tab_active .ajax__tab_inner a:link, .NewsTab .ajax__tab_active .ajax__tab_inner a:visited
{
    color: White;
    /*cursor: pointer;*/
}

.NewsTab .ajax__tab_body
{
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-width: thin;
    -moz-box-shadow: 2px 2px 2px #000000;
    -webkit-box-shadow: 2px 2px 2px #000000;
    box-shadow: 2px 2px 2px #000000;
    clear: both
}

input.mapButton
{
    font-size: 15px;
    font-family: Arial,Helvetica,sans-serif;
    /*color: White; */
    background-color: #808EAB;
    border-style: none;
    -moz-box-shadow: 1px 1px 1px #000000;
    -webkit-box-shadow: 1px 1px 1px #000000;
    box-shadow: 1px 1px 1px #000000;
    padding: 1px 6px!important;
}

input.errorButton{
    padding: 1px 6px!important;
}

.modalBackground
{
    background-color: Gray;
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.modalPopup
{
    background-color: #ffffdd;
    border-width: 1px;
    -moz-border-radius: 5px;
    border-style: solid;
    border-color: Gray;
    min-width: 250px;
    max-width: 600px;
}

.topHandle td
{
    background-color: #97bae6;
    color: White;
    font-weight:bold;
    padding: 2px!important;
}
.midHandle td
{
    padding: 2px!important;
}

.topHandleRed
{
    background-color: Red; /* #97bae6;*/
    color: White;
    font-weight:bold;
    padding: 2px!important;
}
.topHandleRed td{
    padding :3px;
}
#dvMessageText
{
	max-width:400px;
	max-height: 400px;	
}

.memberInfo .RightColumn select, .memberInfo .RightColumn input, .memberInfo .RightColumn textarea
{
    background-color: whitesmoke; /*#EDFAFF; #DCDCC2; ivory*/ 
    border: 1px solid #C0C0C0!important;
    border-spacing: 1px !important;
    padding: 3px!important;
    font: 15px Arial, Helvetica, sans-serif; 
}

.copyright
{ 
    font: normal 12px/19px Arial, Verdana, Helvetica, sans-serif; 
    color: #585858; 
}

a.copyrightLink 
{ 
    text-decoration: underline; 
    font: 12px Arial, Helvetica, sans-serif; 
    color: #C3C2C2
}

a.copyrightLink:visited 
{ 
    text-decoration: underline; 
    font: 12px Arial, Helvetica, sans-serif; 
    color: #C3C2C2
}

a.copyrightLink:hover 
{ 
    text-decoration: none; 
    font: 12px Arial, Helvetica, sans-serif; 
    color: #C3C2C2
}

a.copyrightLink:active 
{ 
    text-decoration: none; 
    font: 12px Arial, Helvetica, sans-serif; 
    color: #C3C2C2
}

.educationselect
{
    width: 180px;
}

.educationselect2
{
    width: 260px;
}

.ETD {
    background-color: #F0F0F0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    text-align: left;
}