h1 { font: normal 18px/26px Arial, Verdana, Helvetica, sans-serif; color: #587390; text-transform: mixcase; letter-spacing: 0px; }
h2 { font: bold 12px/17px Arial, Verdana, Helvetica, sans-serif; color: #000000; text-transform: mixcase; letter-spacing: 1px; margin: 0 0 8px 0; }

hr {color: #fff; background-color: #fff; border: 1px dotted #CCCCCC; border-style: none none dotted; margin: 5px 0 5px 0; padding: 0; }

.paddingTopGif { padding:0; margin:0; }

body.nonprint { 
  background: #ffffff url("bground.gif");
  background-repeat: repeat-y;
  background-position: center;
}

a { text-decoration: underline; font: 12px/19px Arial, Helvetica, sans-serif; color: #D42FA4; }
a:active { text-decoration: none; font: 12px/19px Arial, Helvetica, sans-serif; color: #D42FA4; }
a:visited { text-decoration: underline; font: 12px/19px Arial, Helvetica, sans-serif; color: #D42FA4; }
a:hover { text-decoration: none; font: 12px/19px Arial, Helvetica, sans-serif; color: #D42FA4; }

.text { font: normal 12px/19px Arial, Verdana, Helvetica, sans-serif; color: #000000; }
.textB { font: Bold 12px/19px Arial, Verdana, Helvetica, sans-serif; color: #000000; }
.textGrey { font: normal 12px/19px Arial, Verdana, Helvetica, sans-serif; color: #999999; }
.textGreyB { font: Bold 12px/19px Arial, Verdana, Helvetica, sans-serif; color: #585858; }
.textTable { font: normal 11px/19px Arial, Verdana, Helvetica, sans-serif; color: #000000; }
.textTable2 { font: normal 12px/19px Arial, Verdana, Helvetica, sans-serif; color: #000000; }
.linkHomblu { text-decoration: none; font: bold 12px/16px Arial, Helvetica, sans-serif; color: #587390}
.textTableB { font: bold 12px/19px Arial, Verdana, Helvetica, sans-serif; color: #587390; }
.textHome { font: normal 14px/24px Arial, Verdana, Helvetica, sans-serif; color: #ffffff; }
.copyright { font: normal 11px/19px Arial, Verdana, Helvetica, sans-serif; color: #585858; }
.pdf { font: normal 10px/12px Arial, Verdana, Helvetica, sans-serif; color: #999999; }
.hidden { font: normal 6px/8px Arial, Verdana, Helvetica, sans-serif; color: #ffffff; }
.footer { font: normal 12px/19px Arial, Verdana, Helvetica, sans-serif; color: #333333; }
.arrow { font: normal 11px/14px Arial, Verdana, Helvetica, sans-serif; color: #D42FA4; }
.arrowAlt { font: normal 11px/14px Arial, Verdana, Helvetica, sans-serif; color: #8D8C5F; }
.subheading { font: bold 12px/19px Arial, Verdana, Helvetica, sans-serif; color: #000000; text-transform: uppercase; letter-spacing: 2px; }
.highlight { font: normal 12px/19px Arial, Verdana, Helvetica, sans-serif; color: #587390; text-transform: uppercase; }
.note { font: italic 12px/14px Arial, Verdana, Helvetica, sans-serif; color: #000000; }
.textSmall { font: normal 11px/14px Arial, Verdana, Helvetica, sans-serif; color: #000000; }
a.highlights { font: normal 12px/19px Arial, Verdana, Helvetica, sans-serif; color: #587390; text-decoration: none; text-transform: uppercase; }
.videobox { font: normal 12px/14px Arial, Verdana, Helvetica, sans-serif; color: #000; clear:both}

.homeWhatsnewTxt { font: normal 12px/16px Arial, Verdana, Helvetica, sans-serif; color: #333333; }
.homeWhatsnewTitle { font: bold 12px/16px Arial, Verdana, Helvetica, sans-serif; color: #8D8C5F; }

a.link { text-decoration: underline; font: 12px/19px Arial, Helvetica, sans-serif; color: #D42FA4}
a.link:visited { text-decoration: underline; font: 12px/19px Arial, Helvetica, sans-serif; color: #D42FA4}
a.link:hover { text-decoration: none; font: 12px/19px Arial, Helvetica, sans-serif; color: #D42FA4}
a.link:active { text-decoration: underline; font: 12px/19px Arial, Helvetica, sans-serif; color: #D42FA4}

a.boldlink:link, a.boldlink:visited, a.boldlink:active { font: Bold 12px/19px Arial, Verdana, Helvetica, sans-serif; color: #000000; text-decoration: underline; }
a.boldlink:hover { font: Bold 12px/19px Arial, Verdana, Helvetica, sans-serif; color: #000000; text-decoration: none; }


a.linkHome { text-decoration: underline; font: 12px/16px Arial, Helvetica, sans-serif; color: #D42FA4}
a.linkHome:visited { text-decoration: underline; font: 12px/16px Arial, Helvetica, sans-serif; color: #D42FA4}
a.linkHome:hover { text-decoration: none; font: 12px/16px Arial, Helvetica, sans-serif; color: #D42FA4}
a.linkHome:active { text-decoration: underline; font: 12px/16px Arial, Helvetica, sans-serif; color: #D42FA4}

a.linkHomeB { text-decoration: underline; font: bold 12px/16px Arial, Helvetica, sans-serif; color: #587390}
a.linkHomeB:visited { text-decoration: underline; font: bold 12px/16px Arial, Helvetica, sans-serif; color: #587390}
a.linkHomeB:hover { text-decoration: none; font: bold 12px/16px Arial, Helvetica, sans-serif; color: #587390}
a.linkHomeB:active { text-decoration: underline; font: bold 12px/16px Arial, Helvetica, sans-serif; color: #587390}

a.linkHomeC { text-decoration: underline; font: bold 12px/16px Arial, Helvetica, sans-serif; color: #666}
a.linkHomeC:visited { text-decoration: underline; font: bold 12px/16px Arial, Helvetica, sans-serif; color: #666}
a.linkHomeC:hover { text-decoration: none; font: bold 12px/16px Arial, Helvetica, sans-serif; color: #666}
a.linkHomeC:active { text-decoration: underline; font: bold 12px/16px Arial, Helvetica, sans-serif; color: #666}

a.linkHomeB1 { text-decoration: underline; font: bold 14px/18px Arial, Helvetica, sans-serif; color: #587390}
a.linkHomeB1:visited { text-decoration: underline; font: bold 14px/18px Arial, Helvetica, sans-serif; color: #587390}
a.linkHomeB1:hover { text-decoration: none; font: bold 14px/18px Arial, Helvetica, sans-serif; color: #587390}
a.linkHomeB1:active { text-decoration: underline; font: bold 14px/18px Arial, Helvetica, sans-serif; color: #587390}

a.linkAlt { text-decoration: none; font: 11px/14px Arial, Helvetica, sans-serif; color: #8D8C5F}
a.linkAlt:visited { text-decoration: none; font: 11px/14px Arial, Helvetica, sans-serif; color: #8D8C5F}
a.linkAlt:hover { text-decoration: underline; font: 11px/14px Arial, Helvetica, sans-serif; color: #8D8C5F}
a.linkAlt:active { text-decoration: none; font: 11px/14px Arial, Helvetica, sans-serif; color: #8D8C5F}

a.linkHighlight { text-decoration: none;font: normal 12px/19px Arial, Verdana, Helvetica, sans-serif; color: #587390; text-transform: uppercase; }
a.linkHighlight:active { text-decoration: none;font: normal 12px/19px Arial, Verdana, Helvetica, sans-serif; color: #587390; text-transform: uppercase; }
a.linkHighlight:visited { text-decoration: none;font: normal 12px/19px Arial, Verdana, Helvetica, sans-serif; color: #587390; text-transform: uppercase; }
a.linkHighlight:hover { text-decoration: none;font: normal 12px/19px Arial, Verdana, Helvetica, sans-serif; color: #D42FA4; text-transform: uppercase; }

a.nav2about { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #000000; letter-spacing: 0px;}
a.nav2about:visited { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #000000; letter-spacing: 0px;}
a.nav2about:hover { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; background-color: AD3589; }
a.nav2about:active { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; background-color: AD3589;}
.nav2abouton { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; background-color: AD3589;}

a.nav2practice { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #000000; letter-spacing: 0px;}
a.nav2practice:visited { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #000000; letter-spacing: 0px;}
a.nav2practice:hover { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; background-color: AB905F; }
a.nav2practice:active { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; background-color: AB905F;}
.nav2practiceon { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; background-color: AB905F;}

a.nav2complaints { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #000000; letter-spacing: 0px;}
a.nav2complaints:visited { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #000000; letter-spacing: 0px;}
a.nav2complaints:hover { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; background-color: 6095C1; }
a.nav2complaints:active { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; background-color: 6095C1;}
.nav2complaintson { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; background-color: 6095C1;}

a.nav2reg { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #000000; letter-spacing: 0px;}
a.nav2reg:visited { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #000000; letter-spacing: 0px;}
a.nav2reg:hover { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; background-color: 71B804; }
a.nav2reg:active { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; background-color: 71B804;}
.nav2regon { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; background-color: 71B804;}

a.nav2qual { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #000000; letter-spacing: 0px;}
a.nav2qual:visited { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #000000; letter-spacing: 0px;}
a.nav2qual:hover { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; background-color: 9643B1; }
a.nav2qual:active { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; background-color: 9643B1;}
.nav2qualon { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; background-color: 9643B1;}

a.nav2resource { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #000000; letter-spacing: 0px;}
a.nav2resource:visited { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #000000; letter-spacing: 0px;}
a.nav2resource:hover { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; background-color: AEAC0A; }
a.nav2resource:active { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; background-color: AEAC0A;}
.nav2resourceon { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; background-color: AEAC0A;}

a.nav2members { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #000000; letter-spacing: 0px;}
a.nav2members:visited { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #000000; letter-spacing: 0px;}
a.nav2members:hover { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; background-color: BA6401; }
a.nav2members:active { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; background-color: BA6401;}
.nav2memberson { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; background-color: BA6401;}

a.nav2dossiers { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #000000; letter-spacing: 0px;}
a.nav2dossiers:visited { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #000000; letter-spacing: 0px;}
a.nav2dossiers:hover { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; background-color: 008480; }
a.nav2dossiers:active { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; background-color: 008480;}
.nav2dossierson { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; background-color: 008480;}

a.nav2ecomm { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #000000; letter-spacing: 0px;}
a.nav2ecomm:visited { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #000000; letter-spacing: 0px;}
a.nav2ecomm:hover { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; background-color: C04F55; }
a.nav2ecomm:active { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; background-color: C04F55;}
.nav2ecommon { text-decoration: none; font: 11px/12px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; background-color: C04F55;}

a.nav3 { text-decoration: underline; font: 12px/19px Arial, Helvetica, sans-serif; color: #000000; letter-spacing: 0px;}
a.nav3:visited { text-decoration: underline; font: 12px/19px Arial, Helvetica, sans-serif; color: #000000; letter-spacing: 0px;}
a.nav3:hover { text-decoration: none; font: 12px/19px Arial, Helvetica, sans-serif; color: #000000; letter-spacing: 0px; }
a.nav3:active { text-decoration: none; font: 12px/19px Arial, Helvetica, sans-serif; color: #000000; letter-spacing: 0px; }
.nav3on { text-decoration: none; font: bold 12px/19px Arial, Helvetica, sans-serif; color: #000000; letter-spacing: 0px; }

a.copyrightLink { text-decoration: underline; font: 11px/19px Arial, Helvetica, sans-serif; color: #C3C2C2}
a.copyrightLink:visited { text-decoration: underline; font: 11px/19px Arial, Helvetica, sans-serif; color: #C3C2C2}
a.copyrightLink:hover { text-decoration: none; font: 11px/19px Arial, Helvetica, sans-serif; color: #C3C2C2}
a.copyrightLink:active { text-decoration: none; font: 11px/19px Arial, Helvetica, sans-serif; color: #C3C2C2}

td.dotted { border-top: 1px dotted #cccccc; margin: 0; padding: 0; }
br {margin-top: 0px; margin-bottom: 5px; padding-right: 0pt; padding-left: 0pt; font: normal 8px/13px Arial}

form { padding: 0; margin:0; max-height:52px; }
input, select, option, textarea { font: normal 11px/12px Arial, Helvetica, sans-serif; text-align: left; padding: 2px; }
input.noborder { font: normal 11px/12px Arial, Helvetica, sans-serif; text-align: left; padding: 2px; }

OL.alpha { list-style-type: lower-alpha }