h1 { font: normal 1.6em Arial, Verdana, Helvetica, sans-serif; color: #587390; text-transform: capitalize; letter-spacing: 0px; }
h2 { 
    /*font: bold 1.4em Arial, Verdana, Helvetica, sans-serif; color: #000000;*/
    font: bold 1.2em Arial, Verdana, Helvetica, sans-serif;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
 }

hr {color: #fff; background-color: #fff; border: 1px dotted #CCCCCC; border-style: none none dotted; margin: 5px 0 5px 0; padding: 0; }

.paddingTopGif { padding:0; margin:0; }

body.nonprint { 
  background: #ffffff url("bground.gif");
  background-repeat: repeat-y;
  background-position: center;
}
body
{
     font: normal 14px/19px Arial, Verdana, Helvetica, sans-serif; 
     color: #000000;
}

a { text-decoration: underline; font: 14px Arial, Helvetica, sans-serif; color: #D42FA4; }
a:active { text-decoration: none; font: 14px Arial, Helvetica, sans-serif; color: #D42FA4; }
a:visited { text-decoration: underline; font: 14px Arial, Helvetica, sans-serif; color: #D42FA4; }
a:hover { text-decoration: none; font: 14px Arial, Helvetica, sans-serif; color: #D42FA4; }
a.copyrightLink { text-decoration: underline; font: 14px Arial, Helvetica, sans-serif; color: #C3C2C2  !important;}
a.copyrightLink:visited { text-decoration: underline; font: 14px Arial, Helvetica, sans-serif; color: #C3C2C2  !important;}
a.copyrightLink:hover { text-decoration: none; font: 14px Arial, Helvetica, sans-serif; color: #C3C2C2  !important;}
a.copyrightLink:active { text-decoration: none; font: 14px Arial, Helvetica, sans-serif; color: #C3C2C2  !important;}
a.PrLink { text-decoration: underline; font: 16px Arial, Helvetica, sans-serif; color: #D42FA4  !important;}
a.PrLink:visited { text-decoration: underline; font: 16px Arial, Helvetica, sans-serif; color: #D42FA4  !important;}
a.PrLink:hover { text-decoration: none; font: 16px Arial, Helvetica, sans-serif; color: #D42FA4  !important;}
a.PrLink:active { text-decoration: none; font: 16px Arial, Helvetica, sans-serif; color: #D42FA4  !important;}

p{
    margin: 10px 0px!important;
}
li{
     margin: 10px!important;
}

input[type="submit"],input[type="submit"]:hover,input[type="submit"]:focus,input[type="submit"]:active
{
    background:#EDEDDB;
    border:1px solid silver;
    color:Black;
}

/* template css*/
#masterHeaderBackground {
  border-bottom:none !important; }
#masterBannerArea 
{
    float:left;
    width:70%;
}
#masterLogoArea
{
    width:100%;
    clear:both;
    background:url('images/COTO-main.jpg') right center no-repeat;
    
}
#hd, #masterContentArea, #masterFooterContent, #masterFooterCopyright > div, .SliderContent
{
    width:768px;
}

#SimpleSearchBlock input[type="text"]
{
    background-image:none !important;
    width:80px;
    border-radius:0px !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow:none !important;
    height:18px !important;
    padding-top:0px !important;
    padding-bottom:0px !important;
    padding-left:0px !important;
    margin-top:2px !important;
}
#SimpleSearchBlock input[type="submit"]
{
    display:inline-block !important;
    border:none !important;
   /* text-indent:-9999px;*/
    background-color: rgb(59, 90, 111);
    color:White;
    
}
#SimpleSearchBlock  label.search-label
{
    color:White !important;
    font-weight:normal;
    padding-left:10px;
    padding-right:5px;
}
#ft 
{
    background-color:White !important;
    color:#585858 !important;
}
#masterFooterCommunications 
{
    width:100% !important;
}

#masterSideBarPanel table td {
    line-height:8px;
}
#masterSideBarPanel table td a{
    font-size:1em;
}

.AsiMessage ul li{
	list-style: none outside !important;
}

.ContentPanel{
  padding-left: 10px;
}

.cotoButton{
    background-image: url("../Images/link-arrow-right-hover.png");
    background-position: right 5px center;
    background-repeat: no-repeat;
    color: #009ac3;
    display: inline-block;
    padding-right: 18px;
    text-align: center;
    }
.cotoNext{
    display: inline-block;
    text-align: center; 
    background-image: url("../Images/link-arrow-right-hover.png");
    background-position: right 5px center; 
    background-repeat: no-repeat; 
    padding-right: 18px; 
    color: #009ac3;
}
