﻿/* MessageBox */
.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=80);
	opacity: 0.8;
}

.modalPopup
{
	background-color: #ffffdd;
	border-width: 1px;
	-moz-border-radius: 5px;
	border-style: solid;
	border-color: Gray;	
	min-width: 250px;
	/*max-width:400px;*/
	max-height: 500px;	
}

#dvMessageText
{
	max-width:400px;
	max-height: 400px;	
}

.topHandle
{
	background-color: #97bae6;	
}

/* End section */