﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DuesDisplay.aspx.cs" Inherits="COTO_RegOnly.DuesDisplay" MasterPageFile="~/COTOv1.Master" %>

<%@ Register src="UserControls/ctlDuesDisplay.ascx" tagname="ctlDuesDisplay" tagprefix="reg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TemplateHead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="TemplateBody" runat="server">
    <%--<asp:ScriptManager ID="something" runat="server" />--%>
        <reg:ctlDuesDisplay ID="ctlDuesDisplay1" runat="server" />
</asp:Content>

