﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Feedback.aspx.cs" Inherits="COTO_RegOnly.Feedback" MasterPageFile="~/COTOv1.Master" %>

<%@ Register src="UserControls/ctlRegistrationRenewalFeedback.ascx" tagname="ctlFeedback" tagprefix="reg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TemplateHead" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="TemplateBody" runat="server">
    <%--<asp:ScriptManager ID="something" runat="server" />--%>
        <reg:ctlFeedback ID="ctlFeedback1" runat="server" />
</asp:Content>

