﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MemberOTPracticeRenewal.aspx.cs" Inherits="COTO_RegOnly.MemberOTPracticeRenewal" MasterPageFile="~/COTOv1.Master" %>

<%@ Register src="UserControls/ctlMemberPracticeHistoryRenewal.ascx" tagname="ctlMemberPractice" tagprefix="reg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TemplateHead" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="TemplateBody" runat="server">
    <%-- <asp:ScriptManager ID="something" runat="server" />--%>
     <reg:ctlMemberPractice ID="ctlMemberPractice1" runat="server" />
</asp:Content>
