﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MemberControlledActs.aspx.cs" Inherits="COTO_RegOnly.MemberControlledActs" MasterPageFile="~/COTOv1.Master"%>

<%@ Register src="UserControls/ctlMemberControlledActsRenewal.ascx" tagname="ctlMemberControlledActsRenewal" tagprefix="reg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TemplateHead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="TemplateBody" runat="server">
     <%--<asp:ScriptManager ID="something" runat="server" />--%>
     <reg:ctlMemberControlledActsRenewal ID="ctlMemberControlledActsRenewal1" runat="server" />
</asp:Content>
