﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="MemberEmployment" Codebehind="MemberEmployment.aspx.cs" MasterPageFile="~/COTOv1.Master" %>

<%@ Register src="UserControls/ctlMemberEmployment.ascx" tagname="ctlMemberEmployment" tagprefix="reg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TemplateHead" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="TemplateBody" runat="server">
    <%--<asp:ScriptManager ID="something" runat="server" />--%>
        <reg:ctlMemberEmployment ID="ctlMemberEmployment1" runat="server" />
</asp:Content>

