﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MemberDeclaration.aspx.cs" Inherits="COTO_RegOnly.MemberDeclaration" MasterPageFile="~/COTOv1.Master" %>

<%@ Register src="UserControls/ctlMemberDeclaration.ascx" tagname="ctlMemberDeclaration" tagprefix="reg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TemplateHead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="TemplateBody" runat="server">
     <%--<asp:ScriptManager ID="something" runat="server" />--%>
     <reg:ctlMemberDeclaration ID="ctlMemberDeclaration1" runat="server" />
</asp:Content>
