﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MemberEditEducation.aspx.cs" Inherits="COTO_RegOnly.MemberEditEducation"  MasterPageFile="~/COTOv1.Master" %>

<%@ Register src="UserControls/ctlMemberEducationEditRenewal.ascx" tagname="ctlMemberEducationEditRenewal" tagprefix="reg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TemplateHead" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="TemplateBody" runat="server">
  <%--  <asp:ScriptManager ID="something" runat="server" />--%>
        <reg:ctlMemberEducationEditRenewal ID="ctlMemberEducationEditRenewal1" runat="server" />
</asp:Content>
