﻿<%@ Page Title="" Language="C#" MasterPageFile="~/COTOv1.Master" AutoEventWireup="true" CodeBehind="MemberSelfIdentification.aspx.cs" Inherits="COTO_RegOnly.WebForm1" %>

<%@ Register Src="~/UserControls/ctlMemberSelfIdentification.ascx" TagPrefix="uc1" TagName="ctlMemberSelfIdentification" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TemplateHead" runat="server">
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="TemplateBody" runat="server">
    <uc1:ctlMemberSelfIdentification runat="server" id="ctlMemberSelfIdentification" />
</asp:Content>


