﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MemberEditConduct.aspx.cs" Inherits="COTO_RegOnly.MemberEditConduct" MasterPageFile="~/COTOv1.Master"  %>

<%@ Register src="UserControls/ctlMemberConductRenewalNew.ascx" tagname="ctlMemberEditConduct" tagprefix="reg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TemplateHead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="TemplateBody" runat="server">
     <%--<asp:ScriptManager ID="something" runat="server" />--%>
     <reg:ctlMemberEditConduct ID="ctlMemberEditConduct1" runat="server" />
</asp:Content>

