﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MemberEditEmploymentProfile.aspx.cs" Inherits="COTO_RegOnly.MemberEditEmploymentProfile" MasterPageFile="~/COTOv1.Master"%>

<%@ Register src="UserControls/ctlMemberEmploymentProfileRenewal.ascx" tagname="ctlMemberEmploymentProfileRenewal" tagprefix="reg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TemplateHead" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="TemplateBody" runat="server">
    <%--<asp:ScriptManager ID="something" runat="server" />--%>
        <reg:ctlMemberEmploymentProfileRenewal ID="ctlMemberEmploymentProfileRenewal1" runat="server" />
</asp:Content>
