﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="MemberDisplay" Codebehind="MemberDisplay.aspx.cs" MasterPageFile="~/COTOv1.Master"%>

<%@ Register src="UserControls/ctlMemberDisplay.ascx" tagname="ctlMemberDisplay" tagprefix="reg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TemplateHead" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="TemplateBody" runat="server">
    <%--<asp:ScriptManager ID="something" runat="server" />--%>
        <reg:ctlMemberDisplay ID="ctlMemberDisplay1" runat="server" />
</asp:Content>

