﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MemberProfessionalHistory.aspx.cs" Inherits="COTO_RegOnly.MemberProfessionalHistory" MasterPageFile="~/COTOv1.Master"%>

<%@ Register src="UserControls/ctlMemberProfessionalHistoryNew2.ascx" tagname="ctlMemberProfessionalHistory" tagprefix="reg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TemplateHead" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="TemplateBody" runat="server">
     <%--<asp:ScriptManager ID="something" runat="server" />--%>
     <reg:ctlMemberProfessionalHistory ID="ctlMemberProfessionalHistory1" runat="server" />
</asp:Content>
