﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MemberEditLanguages.aspx.cs" Inherits="COTO_RegOnly.MemberEditLanguages" MasterPageFile="~/COTOv1.Master" %>

<%@ Register src="UserControls/ctlMemberCurrencyLanguage.ascx" tagname="ctlMemberCurrencyLanguage" tagprefix="reg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TemplateHead" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="TemplateBody" runat="server">
    <%--<asp:ScriptManager ID="something" runat="server" />--%>
    <reg:ctlMemberCurrencyLanguage ID="ctlMemberCurrencyLanguage2" runat="server" />
</asp:Content>

