﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MemberEditRenewal.aspx.cs" Inherits="COTO_RegOnly.MemberEditRenewal" MasterPageFile="~/COTOv1.Master"%>

<%@ Register src="UserControls/ctlMemberEditRenewal.ascx" tagname="ctlMemberEditRenewal" tagprefix="reg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TemplateHead" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="TemplateBody" runat="server">
    <%--<asp:ScriptManager ID="something" runat="server" />--%>
        <reg:ctlMemberEditRenewal ID="ctlMemberEditRenewal1" runat="server" />
</asp:Content>


