﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MemberPrepaid.aspx.cs" Inherits="COTO_RegOnly.MemberPrepaid" MasterPageFile="~/COTOv1.Master" %>

<%@ Register src="UserControls/ctlPrepaidPage.ascx" tagname="ctlMemberPrepaid" tagprefix="reg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TemplateHead" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="TemplateBody" runat="server">
     <%--<asp:ScriptManager ID="something" runat="server" />--%>
     <reg:ctlMemberPrepaid ID="ctlMemberPrepaid1" runat="server" />
</asp:Content>
