﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MemberEmploymentRenewal.aspx.cs" Inherits="COTO_RegOnly.MemberEmploymentRenewal" MasterPageFile="~/COTOv1.Master" %>

<%@ Register src="UserControls/ctlMemberEmploymentRenewal.ascx" tagname="ctlMemberEmployment" tagprefix="reg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TemplateHead" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="TemplateBody" runat="server">
     <%--<asp:ScriptManager ID="something" runat="server" />--%>
     <reg:ctlMemberEmployment ID="ctlMemberEmployment1" runat="server" />
</asp:Content>

