﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MemberLiabilityInsurance.aspx.cs" Inherits="COTO_RegOnly.MemberLiabilityInsurance" MasterPageFile="~/COTOv1.Master" %>

<%@ Register src="UserControls/ctlMemberInsuranceNew.ascx" tagname="ctlMemberInsurance" tagprefix="reg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TemplateHead" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="TemplateBody" runat="server">
     <%--<asp:ScriptManager ID="something" runat="server" />--%>
     <reg:ctlMemberInsurance ID="ctlMemberInsurance1" runat="server" />
</asp:Content>

