﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="MemberEdit" Codebehind="MemberEdit.aspx.cs" MasterPageFile="~/COTOv1.Master"%>

<%@ Register src="UserControls/ctlMemberEdit.ascx" tagname="ctlMemberEdit" tagprefix="reg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TemplateHead" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="TemplateBody" runat="server">
    <%--<asp:ScriptManager ID="something" runat="server" />--%>
        <reg:ctlMemberEdit ID="ctlMemberEdit1" runat="server" />
</asp:Content>
