﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="OfflinePayment.aspx.cs" Inherits="COTO_RegOnly.OfflinePayment" MasterPageFile="~/COTOv1.Master"%>

<%@ Register src="UserControls/ctlOfflinePayment.ascx" tagname="ctlOfflinePayment" tagprefix="reg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TemplateHead" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="TemplateBody" runat="server">
    <%--<asp:ScriptManager ID="something" runat="server" />--%>
        <reg:ctlOfflinePayment ID="ctlOfflinePayment1" runat="server" />
</asp:Content>

