﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="RegistrationRenewalSummary.aspx.cs" Inherits="COTO_RegOnly.RegistrationRenewalSummary" MasterPageFile="~/COTOv1.Master" %>

<%@ Register src="UserControls/ctlRegistrationRenewalSummary.ascx" tagname="ctlRegistrationRenewalSummary" tagprefix="reg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TemplateHead" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="TemplateBody" runat="server">
   <%-- <asp:ScriptManager ID="something" runat="server" />--%>
        <reg:ctlRegistrationRenewalSummary ID="ctlRegistrationRenewalSummary1" runat="server" />
</asp:Content>

