﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="RequestResignRegistrationCertificate.aspx.cs" Inherits="COTO_RegOnly.RequestResignRegistrationCertificate" MasterPageFile="~/COTOv1.Master" %>

<%@ Register src="UserControls/ctlRequestResignCertificate.ascx" tagname="ctlRequest" tagprefix="reg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TemplateHead" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="TemplateBody" runat="server">
        <reg:ctlRequest ID="ctlRequest1" runat="server" />
</asp:Content>
