﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Start.aspx.cs" Inherits="COTO_RegOnly.Start"  MasterPageFile="~/COTOv1.Master" %>


<%@ Register src="UserControls/ctlIntroduction.ascx" tagname="ctlIntroduction" tagprefix="reg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TemplateHead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="TemplateBody" runat="server">
    <%--<asp:ScriptManager ID="something" runat="server" />--%>
        <reg:ctlIntroduction ID="ctlIntroduction1" runat="server" />
</asp:Content>

