﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="UpdatePracticeHistoryProfile.aspx.cs" Inherits="COTO_RegOnly.UpdatePracticeHistoryProfile"  MasterPageFile="~/COTOv1.Master" %>

<%@ Register src="UserControls/ctlUpdatePracticeHistoryProfile.ascx" tagname="ctlUpdatePracticeProfile" tagprefix="reg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TemplateHead" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="TemplateBody" runat="server">
    <%--<asp:ScriptManager ID="something" runat="server" />--%>
        <reg:ctlUpdatePracticeProfile ID="ctlUpdatePracticeProfile1" runat="server" />
</asp:Content>
