﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="UpdateEducationProfile.aspx.cs" Inherits="COTO_RegOnly.UpdateEducationProfile"  MasterPageFile="~/COTOv1.Master" %>

<%@ Register src="UserControls/ctlUpdateEducationProfile.ascx" tagname="ctlUpdateEducationProfile" tagprefix="reg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TemplateHead" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="TemplateBody" runat="server">
   <%-- <asp:ScriptManager ID="something" runat="server" />--%>
        <reg:ctlUpdateEducationProfile ID="ctlUpdateEducationProfile1" runat="server" />
</asp:Content>

