﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="UpdatePersonalInfo.aspx.cs" Inherits="COTO_RegOnly.UpdatePersonalInfo" MasterPageFile="~/COTOv1.Master" %>

<%@ Register src="UserControls/ctlUpdatePersonalInfo.ascx" tagname="ctlUpdatePersonalInfo" tagprefix="reg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TemplateHead" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="TemplateBody" runat="server">
   <%-- <asp:ScriptManager ID="something" runat="server" />--%>
        <reg:ctlUpdatePersonalInfo ID="ctlUpdatePersonalInfo1" runat="server" />
</asp:Content>
