﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="WCMPayment.aspx.cs" Inherits="OT_2013RenewDev_VA_dotNet_WCMPayment" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
        <asp:Label ID="lblDebug" runat="server" Text="Label"></asp:Label>
    </form>
</body>
</html>
