﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PersonalInformation.aspx.cs" Inherits="COTO_RegOnly.Application.PersonalInformation" MasterPageFile="~/COTOv1.Master" %>
<%@ Register src="UserControls/ctlPersonalInformation.ascx" tagname="ctlPersonalInformation" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TemplateHead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="TemplateBody" runat="server">
        <uc1:ctlPersonalInformation ID="ctlPersonalInformation1" runat="server" />
</asp:Content>



<%--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>--%>
